.certificates {
    padding: 4rem 2rem;
    background-color: black;
    color: white;
    text-align: center;
}

.certificates h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.9);
}

.certificates-grid {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.certificate-card {
    background-color: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    padding: 1rem;
}

.certificate-card:hover {
    transform: scale(1.05);
}

.certificate-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.certificate-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #00d1ff;
}

.certificate-card p {
    font-size: 1rem;
    color: #ccc;
}